.iosslider_outer { margin:0; padding:0; border:none; }
.iosslider_outerwhite { margin:0; padding:3px; border:2px solid #FFFFFF; }
.iosslider_outergray { margin:0; padding:3px; border:2px solid #CCCCCC; }
.iosslider_outerdarkgray { margin:0; padding:3px; border:2px solid #888888; }
.iosslider_outerblue { margin:0; padding:3px; border:2px solid #5894DD; }
.iosslider_outerblack { margin:0; padding:3px; border:2px solid #222222; }
.iosslider_wrap { position: relative; max-width:960px; margin:0px auto 0px; z-index:90; border:none; text-align:left; font-size: 10px; }
* html .iosslider_wrap{ width:960px }
.iosslider_wrap .iosslider_images ul{ position:relative; width:10000%; height:auto; left:0; list-style:none; margin:0; padding:0; border-spacing:0; overflow: visible; }
.iosslider_wrap .iosslider_images ul li{ width:1%; line-height:0; float:left; font-size:0; padding:0 0 0 0 !important; margin:0 0 0 0 !important; }
.iosslider_wrap .iosslider_images { position: relative; left:0; top:0; width:100%; height:100%; overflow:hidden; }
.iosslider_wrap .iosslider_images a { width:100%; display:block; color:transparent; }
.iosslider_wrap img { max-width: none !important; background-color:#FF9900 !important; }
.iosslider_wrap .iosslider_images img { width:100% !important; border:none 0; max-width: none; margin:0; padding:0; }
.iosslider_h200 { height:220px; }
.iosslider_h240 { height:240px; }
.iosslider_h260 { height:260px; }
.iosslider_h280 { height:280px; }
.iosslider_h300 { height:300px; }
.iosslider_h320 { height:320px; }
.iosslider_h340 { height:340px; }
.iosslider_h360 { height:360px; }
.iosslider_h380 { height:380px; }
.iosslider_h400 { height:400px; }
.iosslider_h450 { height:450px; }
.iosslider_wrap a { text-decoration: none !important; outline: none; border: none; }
.iosslider_wrap  .iosslider_bullets { font-size: 0px; float: left; position:absolute; z-index:70; }
.iosslider_wrap  .iosslider_bullets div{ position:relative; float:left; }
.iosslider_wrap  .wsl{ display:none; }
.iosslider_wrap sound, .iosslider_wrap object{ position:absolute; }
.iosslider_wrap  .iosslider_bullets { padding:5px; }
.iosslider_wrap .iosslider_bullets a { 
	font:12px/20px Arial,Helvetica,sans-serif; color:#FFFFFF; text-align:center; margin-left:4px; width:20px;
	height:20px; background: url(bullet.png) left top; float: left; position:relative;
}
.iosslider_wrap .iosslider_bullets a.iosslider_selbull, .iosslider_wrap .iosslider_bullets a:hover{ background-position: 0 100%; color:#000000; }
.iosslider_wrap a.iosslider_next, .iosslider_wrap a.iosslider_prev {
	background-size: 200%; position:absolute; display:block; top:45.00%; z-index:60; width:26px; height:36px; background-image: url(arrows.png);
}
.iosslider_wrap a.iosslider_next{ background-position: 100% 0; right:0.00%; }
.iosslider_wrap a.iosslider_prev { background-position: 0 0; left:0.00%; }
.iosslider_wrap a.iosslider_next:hover { background-position: 100% 100%; }
.iosslider_wrap a.iosslider_prev:hover { background-position: 0 100%; }
.iosslider_wrap .iosslider_playpause { display:none; width:21px; height: 36px; position: absolute; top: 45.00%; left: 48.91%; z-index: 59; }
.iosslider_wrap:hover .iosslider_playpause { display:block; }
.iosslider_wrap .iosslider_pause { background-size: 100% 200%; background-image: url(pause.png); }
.iosslider_wrap .iosslider_play { background-size: 100% 200%; background-image: url(play.png); }
.iosslider_wrap .iosslider_pause:hover, .iosslider_wrap .iosslider_play:hover { background-position: 100% 100% !important; }
.iosslider_wrap  .iosslider_bullets { bottom: 0px; left:50%; }
.iosslider_wrap  .iosslider_bullets div{ left:-50%; }
.iosslider_wrap .ws-title{
	position: absolute; bottom:5em; left: 0; margin-right:0.5em; z-index:50; color:#000000; text-transform:none; font-family:Arial,Helvetica,sans-serif;
}
.iosslider_wrap .ws-title div,.iosslider_wrap .ws-title span{
	display:inline-block; padding:0.5em; background:#FFFFFF;
	border-radius:0 0.2em 0.2em 0; 
	opacity:0.7;
}
.iosslider_wrap .ws-title div{ display:block; margin-top:0.5em; font-size: 1.6em; background:#000000; color:#FFFFFF; }
.iosslider_wrap .ws-title span{ font-size: 2.2em; }
.iosslider_wrap .iosslider_images ul{
	animation: wsBasic 24s infinite;
	-moz-animation: wsBasic 24s infinite;
	-webkit-animation: wsBasic 24s infinite;
}
@keyframes wsBasic{0%{left:-0%} 8.33%{left:-0%} 16.67%{left:-100%} 25%{left:-100%} 33.33%{left:-200%} 41.67%{left:-200%} 50%{left:-300%} 58.33%{left:-300%} 66.67%{left:-400%} 75%{left:-400%} 83.33%{left:-500%} 91.67%{left:-500%} }
@-moz-keyframes wsBasic{0%{left:-0%} 8.33%{left:-0%} 16.67%{left:-100%} 25%{left:-100%} 33.33%{left:-200%} 41.67%{left:-200%} 50%{left:-300%} 58.33%{left:-300%} 66.67%{left:-400%} 75%{left:-400%} 83.33%{left:-500%} 91.67%{left:-500%} }
@-webkit-keyframes wsBasic{0%{left:-0%} 8.33%{left:-0%} 16.67%{left:-100%} 25%{left:-100%} 33.33%{left:-200%} 41.67%{left:-200%} 50%{left:-300%} 58.33%{left:-300%} 66.67%{left:-400%} 75%{left:-400%} 83.33%{left:-500%} 91.67%{left:-500%} }

.iosslider_wrap .iosslider_bulframe div div{ overflow:visible; position:relative; height:72px; }
.iosslider_wrap .iosslider_bulframe div { left:0; overflow:hidden; position:relative; width:128px; background-color:#ffffff; }
.iosslider_wrap  .iosslider_bullets .iosslider_bulframe{ width:128px; }
.iosslider_wrap .iosslider_bulframe img{ width:128px; }

@media all and (max-width:400px){
	.iosslider_wrap:hover a.iosslider_playpause, .iosslider_wrap a.iosslider_playpause, .iosslider_wrap:hover a.iosslider_prev,
	.iosslider_wrap a.iosslider_prev, .iosslider_wrap:hover a.iosslider_next, .iosslider_wrap a.iosslider_next,
	.iosslider_wrap .iosslider_bullets, .iosslider_wrap .iosslider_thumbs{
		display: none
	}
}
.iosslider_wrap .iosslider_bullets  a img{
	text-indent:0; display:block; bottom:25px; left:-64px; visibility:hidden; position:absolute; border: 3px solid #ffffff; max-width:none;
}
.iosslider_wrap .iosslider_bullets a:hover img{ visibility:visible; }
.iosslider_wrap .iosslider_bullets .iosslider_bulframe{
	display:none; bottom:30px; overflow:visible; position:absolute; cursor:pointer;
	border-radius:2px;
    border: 3px solid #ffffff;
}
.iosslider_wrap .iosslider_bulframe span{
	display:block; position:absolute; bottom:-10px; margin-left:-1px; left:50%; background:url(triangle.png); width:15px; height:8px;
}
